/* global styles */
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #D1CEC5;
  
}
main {
  max-width: 850px;
  margin: 32px auto;
  padding: 0 24px;
}
a {
  color: deepskyblue;
  text-decoration: none;
}
article {
  margin: 0 auto;
  max-width: 650px;
}

/* Header */
.header-header {
  background-color: #452B29;
  padding: 24px 32px;
  margin-bottom: 32px;
  text-align: center;
}

.header-h1 {
  font-weight: 100;
}
.header-nav {
  max-width: 650px;
  margin: 0 auto;
  text-align: end;
}
.header-link {
  font-size: 18px;
  margin-right: 16px;
  text-align: center;  
}
.header-link.active {
  font-weight: bold;
  text-decoration: none;
}

/* Home */
.card-ul {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  margin-top: 5px;
  flex-flow: row wrap;
}
.card-li {
  background-color: #E3CCA1;
  flex-direction: row;
  align-items: center;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
  border-spacing: 6px;
  margin-top: 10px;
}
.card-li:hover {
  box-shadow: 1px 1px 5px #999;
}
.card-title {
  color: #997C67;
  margin-left: 5px;
}
.card-description {
  color: #997C67;
  padding-left: 5px;
  width: 195px;
}
.card {
  display: flex;
  color: #000;
}
.card-placeholder {
  width: 200px;
  height: 18em;
}
.card-image {
  display: block;
  width: 100%;
  height: 60%;
}


/* Process.js Icon Container Stying */
.icon-section{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-top: solid gray 2px;
  border-bottom: solid gray 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.icon-title{
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;  
}
.icon-h2 {
  font-family: 'Montserrat', sans-serif;
}
.icon-cell {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.icon-container {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* Showcase Carousel */
.showcase-carousel-image {
  width: 100%;
}

/* Tale of Timbers Component */
.timber-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-top: solid gray 2px;
  border-bottom: solid gray 2px;
  padding-bottom: 25px;  
  margin-top: 25px;
}
.timber-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.timber-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.timber-image {
  width: 200px;
}

/* Carousel */
.carousel {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  color: white;
  border: solid black 4px;
}

.carousel-image {
  height: 450px;
}

/* Post */

/* About page */
.about-header {
  text-align: center;
}
.about-avatar {
  height: 120px;
  width: auto;
}
.about-author {
  margin-bottom: 72px;
}

